.aboutUsInfo {
  width: 100%;
  height: 100%;
  background-color: #000000;
  padding-top: 240px;
  padding-bottom: 10px;
}

.aboutUsInfoContainer {
  width: 100%;
  height: 100%;
}

.aboutUsInfoContainerDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.aboutUsInfoContainerDivLeft,
.aboutUsInfoContainerDivRight {
  display: flex;
  flex: 1;
}

.aboutUsInfoContainerDivLeftContainer {
  width: 70%;
  margin-left: 90px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
}

.aboutUsInfoContainerDivLeftContainerOneContainerText {
  color: #ffffff;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-transform: uppercase;
}

.aboutUsInfoContainerDivLeftContainerTwoContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.aboutUsInfoContainerDivLeftContainerTwoContainerText {
  color: #f2f2f2;
  font-size: 17px;
  font-weight: 300;
  line-height: 23px;
}

.aboutUsInfoContainerDivRight {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.aboutUsInfoContainerDivRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.aboutUsInfoContainerDivRightContainerOne {
  width: 600px;
  height: 820px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;

  position: relative;
}

.aboutUsInfoContainerDivRightContainerOneContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.aboutUsInfoContainerDivRightContainerOneContainerImg {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  object-fit: cover;
}

.aboutUsInfoContainerDivRightContainerTwo {
  width: 400px;
  height: 560px;
  border-radius: 5px;

  position: absolute;
  transform: translateX(-66%) translateY(-35%);
}

.aboutUsInfoContainerDivRightContainerTwoContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.aboutUsInfoContainerDivRightContainerTwoContainerImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}