.productElement {
  width: 290px;
  height: 465px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: blue; */
}

.productElementContainer {
  width: 100%;
  height: 100%;
}

.productElementContainerDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.productElementContainerDiv:hover {
  /* transform: scale(1.02); */
  transition: transform 0.3s ease;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

  border: 1px solid #000000;
}

.productElementContainerDivTop {
  width: 95%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 376px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.productElementContainerDivTopContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productElementContainerDivTopContainerImageOne {
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productElementContainerDivTopContainerImageOneContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productElementContainerDivTopContainerImageOneContainerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: opacity 0.4s ease;
}

.productElementContainerDivTopContainerImageTwo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productElementContainerDivTopContainerImageTwoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productElementContainerDivTopContainerImageTwoContainerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.productElementContainerDivTopContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productElement:hover .productElementContainerDivTopContainerImageOne {
  opacity: 0;
}

.productElement:hover .productElementContainerDivTopContainerImageTwo {
  opacity: 1;
}

.productElementContainerDivBottom {
  margin-top: 30px;
  width: 100%;
}

.productElementContainerDivBottomContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.productElementContainerDivBottomContainerOneContainerText {
  color: #0b170d;
  font-size: 20px;
  font-weight: 900;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-style: italic;
}

.productElementContainerDivBottomContainerTwoContainerText {
  color: #0b170d;
  font-size: 18px;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.productElementContainerDivBottomContainerTwo {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.productElement:hover .productElementContainerDivBottomContainerTwo {
  opacity: 0;
  visibility: hidden;
}

.productElement:hover .productElementContainerDivBottomContainerThird {
  opacity: 1;
  visibility: visible;
}

.productElementContainerDivBottomContainerThird {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  transform: translateY(-76%);
}

.productElementContainerDivBottomContainerThirdContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.productElementContainerDivBottomContainerThirdContainerLeftContainer,
.productElementContainerDivBottomContainerThirdContainerRightContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  cursor: pointer;
}

.productElementContainerDivBottomContainerThirdContainerLeftContainerOne,
.productElementContainerDivBottomContainerThirdContainerLeftContainerTwo,
.productElementContainerDivBottomContainerThirdContainerRightContainerOne,
.productElementContainerDivBottomContainerThirdContainerRightContainerTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.productElementContainerDivBottomContainerThirdContainerLeftContainerOneIcon,
.productElementContainerDivBottomContainerThirdContainerRightContainerOneIcon {
  color: red;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productElementContainerDivBottomContainerThirdContainerLeftContainerTwoText,
.productElementContainerDivBottomContainerThirdContainerRightContainerTwoText {
  color: #0b170d;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.productElementContainerDivBottomContainerThirdContainerLeftContainerOneIcon,
.productElementContainerDivBottomContainerThirdContainerRightContainerOneIcon,
.productElementContainerDivBottomContainerThirdContainerLeftContainerTwoText,
.productElementContainerDivBottomContainerThirdContainerRightContainerTwoText {
  pointer-events: auto !important;
}

.homeFeaturedProductsContainerDivMiddleContainerDiv .productElement button,
.homeFeaturedProductsContainerDivMiddleContainerDiv .productElement a,
.homeFeaturedProductsContainerDivMiddleContainerDiv
  .productElement
  [role="button"] {
  pointer-events: auto !important;
}
