.navbar {
    width: 100%;
    height: 45px;
    /* background-color: lightblue; */

    z-index: 100;

    position: absolute;
    left: 0;
    top: 0;
}

.navbarContainer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbarContainerDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.navbarContainerLeftContainerText {
  font-family: 'Chinese Shanghai';
    font-size: 28px;
    color: #fff;
}


.navbarContainerRight {
    height: 100%;
}

.navbarContainerRightContainer {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.navbarContainerRightContainerElementOneContainerIcon {
    width: 24px;
    height: 24px;
    color: white;
}

.navbarContainerRightContainerElementTwoContainerIcon {
    width: 24px;
    height: 24px;
    color: white;
}



.navbarContainerRightContainerElementThree {
    /* background-color: red; */
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: flex-start

}

.navbarContainerRightContainerElementThreeContainerMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.navbarContainerRightContainerElementThreeContainerMenuLineOne {
    width: 24px;
    height: 2px;
    background-color: #fff;
}

.navbarContainerRightContainerElementThreeContainerMenuLineTwo {
    width: 24px;
    height: 2px;
    background-color: #fff;
}

.navbarContainerRightContainerElementThreeContainerMenuLineThree {
    width: 18px;
    height: 2px;
    background-color: #fff;
}