@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");

@font-face {
  font-family: "Chinese Shanghai";
  src:
    url("./assets/fonts/ChineseShangaiDemoVersionRegular-p7Eyy.ttf")
      format("truetype"),
    url("./assets/fonts/ChineseShangaiDemoVersionRegular-DOmnE.otf")
      format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

NavLink {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.dark-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #da2228 0%, #b91c1c 100%);
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #ff3333 0%, #da2228 100%);
}

html {
  scroll-behavior: smooth;
}

.custom-scroll-container::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.custom-scroll-container::-webkit-scrollbar-thumb {
  background: rgba(218, 34, 40, 0.7);
  border-radius: 3px;
  transition: all 0.3s ease;
}

.custom-scroll-container::-webkit-scrollbar-thumb:hover {
  background: rgba(218, 34, 40, 1);
}

.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.rubik-dirt-regular {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}