@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


@font-face {
  font-family: 'Chinese Shanghai';
  src: url('./assets/fonts/ChineseShangaiDemoVersionRegular-p7Eyy.ttf') format('truetype'),
       url('./assets/fonts/ChineseShangaiDemoVersionRegular-DOmnE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* cursor: none; */
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #000000;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
}

.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}