
/* Custom Font Faces */
@font-face {
  font-family: 'Chinese Shanghai';
  src: url('./assets/fonts/ChineseShangaiDemoVersionRegular-p7Eyy.ttf') format('truetype'),
       url('./assets/fonts/ChineseShangaiDemoVersionRegular-DOmnE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #1a5319;
  color: #feffa7;
}

a {
  text-decoration: none;
  color: inherit;
}

